    <!-- Calendar Section -->
    <section id="calendar" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Calendar</h2>
                    <div id="calendar-widget"></div>
                </div>
            </div>
        </div>
    </section>

<!--
TODO
[ ] google calendar vs hard code
[ ] css for events
[ ] css for buttons
[ ] css for calendar cells
[ ] input meetings
[ ] input shows
-->
